@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@font-face {
  font-family: 'TitanOne', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TitanOne-Regular.eot");
  src: url("../fonts/TitanOne-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TitanOne.svg#svgTitanOne") format("svg"), url("../fonts/TitanOne.ttf") format("truetype"), url("../fonts/TitanOne.woff") format("woff"), url("../fonts/TitanOne-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/DMSans-Bold.eot");
  src: url("../fonts/DMSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Bold.svg#svgDMSans-Bold") format("svg"), url("../fonts/DMSans-Bold.ttf") format("truetype"), url("../fonts/DMSans-Bold.woff") format("woff"), url("../fonts/DMSans-Bold.woff2") format("woff2");
}

@font-face {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/DMSans-Medium.eot");
  src: url("../fonts/DMSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Medium.svg#svgDMSans-Medium") format("svg"), url("../fonts/DMSans-Medium.ttf") format("truetype"), url("../fonts/DMSans-Medium.woff") format("woff"), url("../fonts/DMSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/DMSans-Regular.eot");
  src: url("../fonts/DMSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DMSans-Regular.svg#DMSans-Regular") format("svg"), url("../fonts/DMSans-Regular.ttf") format("truetype"), url("../fonts/DMSans-Regular.woff") format("woff"), url("../fonts/DMSans-Regular.woff2") format("woff2");
}

body {
  font-family: "DM Sans", sans-serif;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main__label {
  font-family: "Titan One", sans-serif;
  font-size: 26px;
  line-height: 1.145;
  color: #ffffff;
  letter-spacing: 0.04;
}

@media (min-width: 768px) {
  .main__label {
    font-size: 22px;
    line-height: 1.136;
  }
}

@media (min-width: 1280px) {
  .main__label {
    font-size: 38px;
    line-height: 1.157;
  }
}

.main__title {
  font-family: "Titan One", sans-serif;
  font-size: 48px;
  line-height: 0.958;
  color: #d41443;
}

@media (min-width: 768px) {
  .main__title {
    font-size: 34px;
    line-height: 0.911;
  }
}

@media (min-width: 1280px) {
  .main__title {
    font-size: 58px;
    line-height: 0.896;
  }
}

.section__title {
  font-family: "Titan One", sans-serif;
  color: #d41443;
  font-size: 34px;
  line-height: 1.147;
}

@media (min-width: 768px) {
  .section__title {
    font-size: 48px;
    line-height: 1.145;
  }
}

@media (min-width: 1200px) {
  .section__title {
    font-size: 58px;
    line-height: 1.137;
  }
}

.section__label {
  font-family: "Titan One", sans-serif;
  font-size: 18px;
  color: #ffa5ba;
  line-height: 1.166;
}

@media (min-width: 768px) {
  .section__label {
    font-size: 26px;
    line-height: 1.153;
  }
}

@media (min-width: 1280px) {
  .section__label {
    font-size: 30px;
    line-height: 1.133;
  }
}

.product__title {
  font-size: 20px;
  color: #ffffff;
  line-height: 1.15;
}

@media (min-width: 768px) {
  .product__title {
    font-size: 20px;
    line-height: 1.145;
  }
}

@media (min-width: 1280px) {
  .product__title {
    font-size: 30px;
    line-height: 1.145;
  }
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1999px) {
  .container {
    max-width: 768px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.products {
  display: block;
  padding: 120px 20px 100px 20px;
}

@media screen and (min-width: 768px) {
  .products {
    padding-bottom: 115px;
  }
}

@media screen and (min-width: 1280px) {
  .products {
    padding-left: 115px;
    padding-right: 115px;
  }
}

.products__text-box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Titan One", sans-serif;
}

.products__text {
  font-size: 18px;
  line-height: 1.166;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.products__title {
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  color: #d41443;
  margin-bottom: 145px;
}

@media screen and (min-width: 768px) {
  .products__title {
    margin-bottom: 150px;
  }
}

@media screen and (min-width: 1280px) {
  .products__title {
    margin-bottom: 260px;
  }
}

@media screen and (min-width: 768px) {
  .products-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.products-list__item {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .products-list__item {
    -ms-flex-preferred-size: calc((100% - 20px * 2) / 3);
        flex-basis: calc((100% - 20px * 2) / 3);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}

.products-list__item:not(:last-child) {
  margin-bottom: 130px;
}

@media screen and (min-width: 768px) {
  .products-list__item:not(:last-child) {
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.products-list__subtitle {
  display: block;
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-bottom: 20px;
  padding-top: 160px;
}

.products-list__subtitle::before {
  content: '';
  position: absolute;
  display: block;
  top: -113px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 250px;
  height: 252px;
}

@media screen and (min-width: 768px) {
  .products-list__subtitle::before {
    top: -104px;
    left: 52%;
    width: 100%;
    height: 235px;
  }
}

@media screen and (min-width: 1280px) {
  .products-list__subtitle::before {
    top: -210px;
    left: 50%;
    width: 100%;
    height: 335px;
  }
}

.products--cream::before {
  background: url(../images/products/ice-mob1x.png);
}

@media screen and (min-width: 768px) {
  .products--cream::before {
    background: url(../images/products/ice-tab1x.png);
  }
}

@media screen and (min-width: 1280px) {
  .products--cream::before {
    background: url(../images/products/ice-desk1x.png);
  }
}

.products--coffee::before {
  background: url(../images/products/coffee-mob1x.png);
}

@media screen and (min-width: 768px) {
  .products--coffee::before {
    background: url(../images/products/coffee-tab1x.png);
  }
}

@media screen and (min-width: 1280px) {
  .products--coffee::before {
    background: url(../images/products/coffee-desk1x.png);
  }
}

.products--milkshakes::before {
  background: url(../images/products/milkshake-mob1x.png);
}

@media screen and (min-width: 768px) {
  .products--milkshakes::before {
    background: url(../images/products/milkshake-tab1x.png);
  }
}

@media screen and (min-width: 1280px) {
  .products--milkshakes::before {
    background: url(../images/products/milkshake-desk1x.png);
  }
}

.products-list__button-icon {
  width: 10px;
  height: 10px;
}

.products-list__button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-style: none;
}

.products-list__points {
  margin-bottom: 30px;
  height: 6px;
  width: 6px;
}

.products-list__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
}

.products-list__textbox {
  padding: 0 40px 40px 40px;
  background: #ffb8ca;
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .products-list__textbox {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .products-list__textbox {
    padding-left: 45px;
    padding-right: 45px;
  }
}

.products-list__textbox--yellow {
  background: #f0d1a5;
}

.products-list__textbox--green {
  background: #c2e297;
}

.contacts {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #FFFFFF), color-stop(10%, #FFF5F6), color-stop(90%, #FFF5F6));
  background-image: linear-gradient(to bottom, #FFFFFF 10%, #FFF5F6 10%, #FFF5F6 90%);
}

@media screen and (min-width: 768px) {
  .contacts {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(15%, #FFFFFF), color-stop(15%, #FFF5F6), color-stop(85%, #FFF5F6));
    background-image: linear-gradient(to bottom, #FFFFFF 15%, #FFF5F6 15%, #FFF5F6 85%);
  }
}

.contact-container {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contact-container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-container {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.time {
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
}

.cards-contact {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}

@media screen and (min-width: 768px) {
  .cards-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -10px;
  }
}

@media screen and (min-width: 1280px) {
  .cards-contact {
    margin-right: -31px;
  }
}

.contact-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 220px;
  width: 100%;
  margin-bottom: 20px;
  padding: 43px 21px 43px 20px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

@media screen and (min-width: 768px) {
  .contact-item {
    font-size: 13px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 50px 32px 50px 31px;
  }
}

@media screen and (min-width: 1280px) {
  .contact-item {
    font-size: 16px;
    margin-right: 31px;
    max-width: 330px;
    padding: 51px 44px 62px 43x;
  }
}

.contact-item__title {
  display: inline-block;
  padding: 0px 24px;
  background: #F0D1A5;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.contact-item__title-truck {
  background: #C2E297;
}

.contact-item__city {
  margin-bottom: 10px;
}

.contact-item__text {
  line-height: 1.5;
  color: #907E82;
  font-size: 11px;
}

@media screen and (min-width: 768px) {
  .contact-item__text {
    font-size: 13px;
    line-height: 1.66;
  }
}

@media screen and (min-width: 1280px) {
  .contact-item__text {
    font-size: 16px;
    line-height: 1.83;
  }
}

.contact-item:last-child,
.contact-item__text:last-child {
  margin-bottom: 0px;
}

.contact-container:last-child {
  padding-bottom: 0px;
}

.time-pink {
  color: #FFA5BA;
}

.weekdays {
  margin-bottom: 10px;
}

.button__check-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  color: #d41443;
  border: none;
  background: #ffffff;
  border-radius: 22px;
  cursor: pointer;
}

.button__check-right__icon-location {
  stroke: #D41342;
}

.check-right__icon-location {
  margin-left: 11px;
  stroke: #FFFFFF;
}

.button-location {
  color: #ffffff;
  background-color: #D41342;
  padding-left: 18px;
  padding-right: 18.84px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.31;
}

@media screen and (min-width: 768px) {
  .button-location {
    padding-left: 34px;
    padding-right: 34.77px;
    margin-right: 14.5px;
    margin-bottom: 0;
  }
}

.check-right__icon-franchise {
  margin-left: 14.17px;
  stroke: #d41443;
}

.button-franchise {
  padding-left: 33px;
  padding-right: 33.3px;
  font-size: 16px;
  line-height: 1.31;
}

.button-franchise:hover {
  background-color: #ECEBEB;
}

@media screen and (min-width: 768px) {
  .button-franchise {
    padding-left: 38px;
    padding-right: 38px;
  }
}

.buttons-map {
  margin-top: 54px;
  margin-bottom: 54px;
}

@media screen and (min-width: 768px) {
  .buttons-map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 380px;
    margin-right: auto;
    margin-left: auto;
  }
}

.btn-modal-close {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  stroke: #000000;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.btn-modal-close:hover,
.btn-modal-close:focus {
  cursor: pointer;
  stroke: red;
}

.btn-modal-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  stroke: #000000;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.modal-content {
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: scroll;
}

.form {
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden .modal-content {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}
/*# sourceMappingURL=main.css.map */