@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
@font-face {
  font-family: 'TitanOne', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/TitanOne-Regular.eot');
  src: url('../fonts/TitanOne-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TitanOne.svg#svgTitanOne') format('svg'),
    url('../fonts/TitanOne.ttf') format('truetype'), url('../fonts/TitanOne.woff') format('woff'),
    url('../fonts/TitanOne-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/DMSans-Bold.eot');
  src: url('../fonts/DMSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DMSans-Bold.svg#svgDMSans-Bold') format('svg'),
    url('../fonts/DMSans-Bold.ttf') format('truetype'),
    url('../fonts/DMSans-Bold.woff') format('woff'),
    url('../fonts/DMSans-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'DMSans-Medium', sans-serif;
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/DMSans-Medium.eot');
  src: url('../fonts/DMSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DMSans-Medium.svg#svgDMSans-Medium') format('svg'),
    url('../fonts/DMSans-Medium.ttf') format('truetype'),
    url('../fonts/DMSans-Medium.woff') format('woff'),
    url('../fonts/DMSans-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/DMSans-Regular.eot');
  src: url('../fonts/DMSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/DMSans-Regular.svg#DMSans-Regular') format('svg'),
    url('../fonts/DMSans-Regular.ttf') format('truetype'),
    url('../fonts/DMSans-Regular.woff') format('woff'),
    url('../fonts/DMSans-Regular.woff2') format('woff2');
}
